div.frog{
    display: inline-block;
    min-width: 9vw;
    max-width: 9vw;
    min-height: 16vh;
    max-height: 16vh;
    line-break:anywhere;
    overflow: hidden;
    font-size: small;
    padding:4px;
}