.lake{
    margin: 0 auto;
    text-align: center;
}
div.frog{

    transition: background-color 1s ease-in-out;
    display: inline-block;
    min-width: 9vw;
    max-width: 9vw;
    min-height: 16vh;
    max-height: 16vh;
    line-break:anywhere;
    overflow: hidden;
    font-size: small;
    padding:0.5vw;
    text-align: center;

    &.male{
        background-color: aqua;
        color: black;
    }

    &.female{
        background-color: fuchsia;
        color: black;
    }
}

input[type="checkbox"]{

    width: 2vw;
    height: 2vw;
}

div.buttons{

    text-align: center;
    padding: 2vw;

    & button{
        padding: 0.25vw 0.5vw;
        margin: 0.25vw;
    }
}